@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/**---------RESET-----------**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  border: 6px red;
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
  background: #1c92d2;
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2); }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  border-radius: 50px;
  margin-top: 10px;
  padding: 10px; }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.384); }
    header nav div ul {
      list-style: none;
      display: flex; }
      header nav div ul li {
        margin: 0px;
        padding: 0 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 90px;
        padding: 0%; }
        header nav div ul li a {
          text-decoration: none;
          color: white;
          font-size: 20px;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          font-style: italic;
          display: flex;
          justify-content: center;
          align-items: center; }

/*********************************************************/
.backgr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #1c92d2;
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  color: #232526;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(16, 82, 136, 0.938);
  height: 50px;
  width: 100%; }

/**********************IMAGEN LOGOTIPO GRANDE***********************************/
.contimg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  padding: 0;
  margin: 0px 0px 10px; }
  .contimg img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 800px;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
    position: absolute; }

/*************************BARRA TODOS TENEMOS UN ESTILO********************************/
.barram div {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 20px;
  margin: 0 auto;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  color: white;
  border-radius: 30px;
  padding: 5px 5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.384); }

/********************TARJETAS*************************************/
.contenedorimg {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative; }
  .contenedorimg .tarjeta {
    border: solid 4px;
    border-color: #1c92d2;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    text-align: center;
    margin: 20px; }
    .contenedorimg .tarjeta img {
      height: 500px;
      margin-top: 10px;
      margin-bottom: 20px;
      border-radius: 10px; }
      .contenedorimg .tarjeta img:hover {
        transform: scale(1.1); }
    .contenedorimg .tarjeta a {
      background: #232526;
      background: -webkit-linear-gradient(to right, #414345, #232526);
      background: linear-gradient(to right, #414345, #232526);
      text-decoration: none;
      color: white;
      padding: 10px;
      margin-top: 20px; }
      .contenedorimg .tarjeta a:hover {
        transform: scale(1.2); }

/***********************BARRA GALERIA**********************************/
.contenedorcert {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%; }
  .contenedorcert div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    margin: 0 auto;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    color: white;
    border-radius: 30px;
    padding: 5px 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.384); }
    .contenedorcert div img {
      height: 40px;
      width: 50px;
      margin-right: 30px;
      margin-top: 5px; }

/************************GALERIA GRID*********************************/
.grid-galeria {
  /** width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 2fr));
    grid-auto-rows: 300px;
    gap: 15px;*/
  min-height: 100vh;
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));
  gap: 10px; }
  .grid-galeria .grind-items {
    border: solid 4px;
    border-color: #1c92d2;
    border-radius: 10px;
    position: relative; }
    .grid-galeria .grind-items .img1 {
      grid-row: span 1; }
    .grid-galeria .grind-items .img2 {
      grid-row: span 2; }
    .grid-galeria .grind-items .img4 {
      grid-row: span 2; }
    .grid-galeria .grind-items .img6 {
      grid-row: span 2; }
    .grid-galeria .grind-items img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 11px 11px 30px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 11px 11px 30px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 11px 11px 30px 0px rgba(0, 0, 0, 0.75); }
    .grid-galeria .grind-items h3 {
      position: absolute;
      bottom: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.336);
      width: 100%; }

/************************************************************/
/***********************FOOTER**********************************/
footer {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  position: absolute;
  width: 100%;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  footer footer .test {
    position: absolute;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    width: 100%; }
  footer .continfo1 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 0%;
    padding: 0;
    width: auto; }
    footer .continfo1 p {
      color: white;
      margin-left: 5px;
      font-size: 15px; }
    footer .continfo1 img {
      margin: 0px 15px;
      height: 30px; }
      footer .continfo1 img:hover {
        transform: scale(1.2); }
    footer .continfo1 h2 {
      color: white;
      margin-left: 5px; }
  footer .conteredes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    footer .conteredes div a img {
      margin: 0px 15px;
      height: 30px; }

/********************MEDIA QUERYS NAV**************************************/
@media screen and (min-width: 900px) and (max-width: 1161px) {
  header nav div ul li {
    margin-left: 20px; } }

@media screen and (min-width: 600px) and (max-width: 999px) {
  header nav div ul li {
    margin-left: 0px; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  header nav div ul li {
    margin-left: 0px; } }

@media screen and (min-width: 600px) and (max-width: 900px) {
  a img.usuario {
    object-fit: contain;
    margin: 0px; } }

@media screen and (min-width: 600px) and (max-width: 900px) {
  a img.carrito {
    object-fit: contain;
    margin: 0px; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  a img.usuario {
    margin: 0px; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  a img.carrito {
    margin: 0px; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  header nav div ul li a:hover {
    color: white;
    transform: scale(1.1);
    border: #ffffff86 solid 0.5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(16, 82, 136, 0.938);
    font-size: 5PX;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: justify; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center; } }

/********************* MEDIA QUERY BARRA 1 ************************************/
@media screen and (min-width: 600px) and (max-width: 713PX) {
  .backgr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #1c92d2;
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    color: #232526;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(16, 82, 136, 0.938);
    font-size: 25PX;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: justify;
    height: 50px;
    width: 100%; } }

@media screen and (min-width: 350px) and (max-width: 600PX) {
  .backgr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #1c92d2;
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    color: #232526;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(16, 82, 136, 0.938);
    font-size: 10PX;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: justify;
    height: 50px;
    width: 100%;
    text-align: center; } }

/********************* MEDIA QUERY IMAGEN GRANDE LOGO ************************************/
@media screen and (min-width: 450px) and (max-width: 641PX) {
  .contimg img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: auto;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
    position: absolute; } }

@media screen and (min-width: 350px) and (max-width: 450PX) {
  .contimg img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: auto;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px;
    position: absolute; } }

/********************* MEDIA QUERY  BARRA 2 ************************************/
@media screen and (min-width: 600px) and (max-width: 713PX) {
  .barram div h2 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 20px;
    margin: 0 auto;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    color: white;
    border-radius: 30px;
    padding: 5px 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.384); } }

@media screen and (min-width: 350px) and (max-width: 600PX) {
  .barram div h2 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 20px;
    margin: 0 auto;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    color: white;
    border-radius: 30px;
    padding: 5px 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.384); } }

/********************* MEDIA QUERY  GRID ************************************/
@media screen and (min-width: 900px) and (max-width: 1098px) {
  .contenedorimg {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 20px; } }

@media screen and (min-width: 350px) and (max-width: 900px) {
  .contenedorimg {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin: 0px; } }

@media screen and (min-width: 350px) and (max-width: 900px) {
  .contenedorimg div.tarjeta {
    margin: 10px;
    width: auto; } }

@media screen and (min-width: 900px) and (max-width: 1098px) {
  .contenedorimg2 div {
    display: inline-block;
    align-items: center;
    margin: 10px;
    width: auto; } }

@media screen and (min-width: 350px) and (max-width: 900px) {
  .contenedorimg2 div {
    display: inline-block;
    align-items: center;
    margin: 10px;
    padding: 0;
    width: auto;
    height: 300PX; } }

@media screen and (min-width: 900px) and (max-width: 1098px) {
  .contenedorimg2 div img {
    height: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto; } }

@media screen and (min-width: 350px) and (max-width: 900px) {
  .contenedorimg2 div img {
    height: 300px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px; } }

@media screen and (min-width: 350px) and (max-width: 900px) {
  .grid-galeria {
    height: auto;
    width: auto;
    margin: 0px;
    position: static; } }

/**************MEDIA QUERYS FOOTER ***********************/
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  footer div h2 {
    color: white;
    margin-left: 5px;
    font-size: 15px; } }

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  footer div p {
    color: white;
    margin-left: 5px;
    font-size: 10px; } }

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .continfo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 10px; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  .continfo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 10px; } }

@media screen and (min-width: 600px) and (max-width: 1000px) {
  footer div h2 {
    color: white;
    margin-left: 5px;
    font-size: 15px;
    margin-bottom: 0px; } }

@media screen and (min-width: 600px) and (max-width: 1000px) {
  footer div p {
    color: white;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 10px; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  footer div h2 {
    color: white;
    margin-left: 5px;
    font-size: 15px;
    margin-bottom: 0px; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  footer div p {
    color: white;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 10px; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  .contenedorcert div h2 {
    font-size: 20px; } }

@media screen and (min-width: 350px) and (max-width: 600px) {
  .grind-items img {
    height: 10px;
    width: 50%; } }

a:hover {
  color: white;
  transform: scale(1.1);
  border: #ffffff86 solid 2px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(16, 82, 136, 0.938);
  font-size: 30PX;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-align: justify; }

.logo img {
  height: 100px;
  margin-right: 0;
  background: #1c92d2;
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d22d);
  border-radius: 30px; }

.logo:hover img {
  transform: scale(1.2); }

.usuario {
  height: 65px;
  margin-left: 25%;
  margin-right: 0; }

.usuario:hover {
  transform: scale(1.2); }

.carrito {
  display: flex;
  height: 65px;
  margin-left: 20px;
  margin-right: 0px; }

.carrito:hover {
  transform: scale(1.2); }

.iconosnav {
  display: flex;
  margin-left: auto;
  position: sticky; }
