/*********************************************************/
.backgr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #1c92d2;
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    color: #232526;
    padding: 10px;
    border-radius: $bordes-rad;
    box-shadow: 0 8px 15px rgba(16, 82, 136, 0.938);
    height: 50px;
    width: 100%;

    h1 {}
}

/**********************IMAGEN LOGOTIPO GRANDE***********************************/
.contimg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0px 0px 10px;

    img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 800px;
        padding: 0;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0px;
        position: absolute;
    }
}

/*************************BARRA TODOS TENEMOS UN ESTILO********************************/
.barram {
    div {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 50px;
        font-size: 20px;
        margin: 0 auto;
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        color: white;
        border-radius: 30px;
        padding: 5px 5px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.384);

        h2 {}
    }
}

/********************TARJETAS*************************************/
.contenedorimg {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    .tarjeta {
        width: 400px;
        height: 600px;
        text-align: center;
        margin: 20px;

        img {
            width: 400px;
            height: 500px;
            margin-top: 10px;
            margin-bottom: 20px;
            border-radius: $bordes-rad;

            &:hover {
                transform: scale(1.1);
            }
        }

        br {}

        a {
            background: #232526;
            background: -webkit-linear-gradient(to right, #414345, #232526);
            background: linear-gradient(to right, #414345, #232526);
            text-decoration: none;
            color: white;
            padding: 10px;
            margin-top: 20px;

            &:hover {
                transform: scale(1.2);
            }

        }

    }

}

/***********************BARRA GALERIA**********************************/
.contenedorbarra {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;

    div {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 20px;
        margin: 0 auto;
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        color: white;
        border-radius: 30px;
        padding: 5px 5px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.384);

        img {
            height: 40px;
            width: 50px;
            margin-right: 30px;
            margin-top: 5px;
        }

        h2 {}
    }

}

/************************GALERIA GRID*********************************/

.grid-galeria {

    min-height: 100vh;
    width: auto;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 1000px), 3fr));
    gap: 10px;


    .grind-items {
        width: auto;
        height: auto;
        border: solid 4px;
        border-color: #1c92d2;
        border-radius: $bordes-rad;
        position: relative;

        .img1 {
            grid-row: span 1;
        }

        .img2 {
            grid-row: span 2;
        }

        .img4 {
            grid-row: span 2;
        }

        .img6 {
            grid-row: span 2;
        }

        img {
            width: 100%;
            height: 500px;
            background-size: cover;
            object-fit: cover;
            box-shadow: 11px 11px 30px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 11px 11px 30px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 11px 11px 30px 0px rgba(0, 0, 0, 0.75);
        }

        h3 {
            position: absolute;
            bottom: 0;
            color: white;
            background-color: rgba(0, 0, 0, 0.336);
            width: 100%;
        }
    }




}

/*************************PAGINA NOSOTROS***********************************/
.barranosotros {
    div {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #1c92d2;
        background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
        background: linear-gradient(to right, #f2fcfe, #1c92d2);
        color: #232526;
        padding: 10px;
        border-radius: $bordes-rad;
        box-shadow: 0 8px 15px rgba(16, 82, 136, 0.938);
        width: 100%;

        p {
            font-size: 25PX;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: italic;
            text-align: justify;
            width: auto;
        }
    }
}

.contenedorcert {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;

    div {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 20px;
        margin: 0 auto;
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        color: white;
        border-radius: 30px;
        padding: 5px 5px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.384);

        h2 {
            img {
                height: 40px;
                width: 50px;
                margin-right: 30px;
                margin-top: 5px;

            }
        }
    }
}

/*******************RECONOCIMIENTOS*************************/
.contereconocimientos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;

    .imgrec {
        margin-right: 20px;

        img {
            width: auto;
            height: 350px;
            border-radius: $bordes-rad;
        }

        p {
            margin: 0px;
            text-align: center;
            font-size: 30px;
            background-color: rgba(0, 0, 0, 0.336);
            width: 100%;
        }
    }

}


/********************BARRA CONCURSOS***************************/
.contenedorcon {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;

    div {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 20px;
        margin: 0 auto;
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        color: white;
        border-radius: 30px;
        padding: 5px 5px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.384);

        h2 {
            img {
                height: 40px;
                width: 50px;
                margin-right: 30px;
                margin-top: 5px;

            }
        }
    }
}


/*********************CONCURSOS*****************************/
.contecon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;

    .imgcon {
        display: inline-block;
        align-items: center;
        justify-content: center;
        padding: 20px;

        img {
            width: 350px;
            height: 350px;
            object-fit: cover;
            border-radius: $bordes-rad;
        }

        p {
            margin: 0px;
            text-align: center;
            font-size: 30px;
            background-color: rgba(0, 0, 0, 0.336);
            width: 100%;
        }
    }

}

/*********************MAIN PAGINA PRODUCTOS*****************************/
.contenedorproducto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    .tarjetap {
        width: 400px;
        height: 600px;
        text-align: center;
        margin: 20px;
        background-color: #232526;
        border-radius: $bordes-rad;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin-top: 10px;
            margin-bottom: 70px;
            border-radius: $bordes-rad;

            &:hover {
                transform: scale(1.1);
            }
        }

        a {
            width: 100%;
            background: #1c92d2;
            border: 3px;
            border-color: #232526;
            padding: 12px;
            color: white;
            font-size: 16px;

            &:hover {
                transform: scale(1.1);
            }

        }
    }

}

/*********************MAIN PAGINA CONTACTO*****************************/


.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
    background: #1c92d2;
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    border-radius: $bordes-rad;
    padding: 15px;
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form a i {
    color: rgb(0, 140, 255);
    margin-right: 10px;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 530px;
    min-width: 300px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #007bff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
    background: #0056b3;
}

/**************MAIN REGISTRO Y SESION***************/
.secciones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-regis {
    width: 400px;
    background: #414345;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: $bordes-rad;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 7px 13px 37px #000;
}

.form-regis h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.campo {
    width: 100%;
    color: #dbdbdb;
    background-color: #00000050;
    padding: 10px;
    border-radius: $bordes-rad;
    margin-bottom: 16px;
    border: 1px #1c92d2 solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;

}

.form-regis p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-regis a {
    color: #06a2eb;
    text-decoration: none;
}

.form-regis a:hover {
    color: #ccc;
    text-decoration: underline;
}

.form-regis .btn-regis {
    width: 100%;
    background: #1c92d2;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}




.form-ses {
    width: 400px;
    height: 437px;
    background: #414345;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: $bordes-rad;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 7px 13px 37px #000;
}

.form-ses h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.campo {
    width: 100%;
    color: #dbdbdb;
    background-color: #00000050;
    padding: 10px;
    border-radius: $bordes-rad;
    margin-bottom: 16px;
    border: 1px #1c92d2 solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;

}

.form-ses p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-ses a {
    color: #06a2eb;
    text-decoration: none;
}

.form-ses a:hover {
    color: #ccc;
    text-decoration: underline;
}

.form-ses .btn-ses {
    width: 100%;
    background: #1c92d2;
    border: none;
    padding: 12px;
    color: white;
    margin-top: 130px;
    font-size: 16px;
}

/***************MAIN CARRITO*************************************/

.cont-carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 100px;
    background: #41434588;
    box-shadow: 7px 13px 37px #000;
    width: 800px;
    height: auto;
    padding: 30px;

    .cont-box1 {
        img {
            width: 400px;
            height: auto;
        }
    }

    .cont-box2 {
        h2 {
            color: white;
            text-align: center;
        }

        .btn-car {
            width: 400px;
            background: #1c92d2;
            border: none;
            padding: 12px;
            color: white;
            margin-top: 20px;
            margin-right: 20px;
            font-size: 16px;
        }
    }

}